.in-touch{
padding: 6em 0;
    &__title{

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
         p{
            margin: 1em auto;
            width: 40%;
        }
    }

    &__contact{
      
        width: 60%;
        margin: 5em auto;
        display: flex;
        justify-content: center;
        
        .left{
            width: 100%;
            &__adress{

                display: flex;
                gap: 1em;
                h2{
                    margin-bottom: .5em;
                }
            }
            &__phone{
                margin: 3em 0;
                display: flex;
                gap: 1em;
                h2{
                    margin-bottom: .5em;
                }

            }
            &__working{
                display: flex;
                gap: 1em;
                h2{
                    margin-bottom: .5em;
                }
            }
        }
        .right{
            width: 100%;
            &__inp{
                margin-bottom:1.5EM;
         
                input{
                    margin-top: 1EM;
                    padding: 2EM 1EM;
                    width: 100%;
                    outline: none;
                    border: 1px solid rgba(0, 0, 0, 0.451);
                    border-radius: 16px;

                
            }

             &:nth-child(4){
                margin-bottom: 3em;
               textarea{
                padding: 2em 1em;
                min-height: 150px;
                width: 100%;
                outline: none;
                border: 1px solid rgba(0, 0, 0, 0.451);
                border-radius: 16px;
               }
             }
            }
           
        }
    }

}