@import '../../styles/color.module.scss';

.travaux {
    border: 1px solid #7a4ae274;
    border-radius: 16px;
    width: 350px;
    padding: 1.5em;
    &__title {
        margin-bottom: 2em;
        h3,
        p {
            color: $p-color;
        }
        p {
            margin-top: 1em;
            font-size: .8em;
        }
    }

    &__description {
        span {
            display: inline-block;
            color: $p-color;
            margin-right: 1em;
            margin-bottom: 2em;
             font-size: .8em;
            padding: 0.5em 1em;
            background-color: $background-light;

            border-radius: 16px;
        }
        img{
            width: 100%;
        }
    }
}