.card-prod{
    position: relative;
    background-color: #ffffff;
    border-radius: 16px;
   width: 350px;
    &__text{
        padding: 2em 1em;
        text-align: left;
        p{
            margin: .8em 0;
            opacity: .8;
        }
    }

    &__label{
        position: absolute;
        top: 3%;
        right: 4%;
    }



}