@import '../../styles/color.module.scss';

.recoms {
    padding: 1em;
    border-radius: 16px;
    border: 1px solid $bright-p;
    width: 450px;
    p {
        margin: 0.5em 0;
        color: $p-color;
    }
    &__profil {
        display: flex;
        align-items: center;
        gap: 1em;
        h3 {
            color: $p-color;
            }
        p {
            color: $bright-p;
        }
    }
}



   
@media(min-width:1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media(min-width:1025px) and (max-width:1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media(min-width:768px) and (max-width:1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media(min-width:768px) and (max-width:1024px) and (orientation:landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media(min-width:481px) and (max-width:767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media(min-width:320px) and (max-width:480px) {
    
    /* CSS */
    .recoms {
        padding: 1em;
        border-radius: 16px;
        border: 1px solid $bright-p;
        width: 320px;
        p {
            margin: 0.5em 0;
            color: $p-color;
            font-size: .8em;
        }
        &__profil {
            display: flex;
            align-items: center;
            margin-top: 1em;
            gap: 1em;
            h3 {
                color: $p-color;
                font-size: 1em;
                }
            p {
                color: $bright-p;
            }
        }
    }
    

  }