@import '../../styles/color.module.scss';

.technology{
    width: 80%;
    margin: 6em auto;
    &__title{
        text-align: center;
        h1{
            font-size: 3.5em;
            color: $p-color;
        }

    }

    &__stack{
        
        h4{
            color: $p-color;
            margin-bottom: 2em;
        }
        margin-top: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .icone-stack{
            display: flex;
            gap: 3em;
        }
    }

    &__stack2{
        
        h4{
            color: $p-color;
            margin-bottom: 2em;
        }
        margin-top: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .icone-stack{
            display: flex;
            gap: 3em;
        }
    }
}



@media(min-width:1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media(min-width:1025px) and (max-width:1280px) {
    
    /* CSS */
    .technology{
      width: 95%;
      margin: 6em auto;
      &__title{
          text-align: center;
          h1{
              font-size: 3.5em;
              color: $p-color;
          }
  
      }
  
      &__stack{
          
          h4{
              color: $p-color;
              margin-bottom: 2em;
          }
          margin-top: 5em;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
  
          .icone-stack{
              display: flex;
              gap: 2em;
          }
      }
  
      &__stack2{
          
          h4{
              color: $p-color;
              margin-bottom: 2em;
          }
          margin-top: 5em;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
  
          .icone-stack{
              display: flex;
              gap: 3em;
          }
      }
  }
  
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media(min-width:768px) and (max-width:1024px) {
    
    /* CSS */
    .technology{
      width: 95%;
      margin: 6em auto;
      &__title{
          text-align: center;
          h1{
              font-size: 3.5em;
              color: $p-color;
          }
  
      }
  
      &__stack{
          
          h4{
              color: $p-color;
              margin-bottom: 2em;
          }
          margin-top: 5em;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
  
          .icone-stack{
              display: flex;
              gap: 1em;
              display: grid;
              grid-template-columns: repeat(5,1fr);
              gap: 3em;
          }
      }
  
      &__stack2{
          
          h4{
              color: $p-color;
              margin-bottom: 2em;
          }
          margin-top: 5em;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
  
          .icone-stack{
              display: flex;
              gap: 1em;
          }
      }
  }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media(min-width:768px) and (max-width:1024px) and (orientation:landscape) {
    
    /* CSS */
    .technology{
      width: 95%;
      margin: 6em auto;
      &__title{
          text-align: center;
          h1{
              font-size: 3.5em;
              color: $p-color;
          }
  
      }
  
      &__stack{
          
          h4{
              color: $p-color;
              margin-bottom: 2em;
          }
          margin-top: 5em;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
  
          .icone-stack{
              display: flex;
              display: grid;
              grid-template-columns: repeat(5,1fr);
              gap: 3em;
              gap: 2em;
          }
      }
  
      &__stack2{
          
          h4{
              color: $p-color;
              margin-bottom: 2em;
          }
          margin-top: 5em;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
  
          .icone-stack{
              display: flex;
              gap: 2em;
          }
      }
  }
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media(min-width:481px) and (max-width:767px) {
    
    /* CSS */
    .technology{
      width: 100%;
      margin: 6em auto;
      padding: 0 1em;
      &__title{
          text-align: center;
          h1{
              font-size: 2.5em;
              color: $p-color;
          }
  
      }
  
      &__stack{
          
          h4{
              color: $p-color;
              margin-bottom: 2em;
          }
          margin-top: 5em;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
  
          .icone-stack{
              display: grid;
              grid-template-columns: repeat(5,1fr);
              gap: 3em;
          }
      }
  
      &__stack2{
          
          h4{
              color: $p-color;
              margin-bottom: 2em;
              text-align: center;
          }
          margin-top: 5em;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
  
          .icone-stack{
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-gap: 3em;
              gap: 3em;
          }
      }
  }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media(min-width:320px) and (max-width:480px) {
    
    /* CSS */
    .technology{
        width: 100%;
        margin: 6em auto;
        padding: 0 1em;
        &__title{
            text-align: center;
            h1{
                font-size: 2.5em;
                color: $p-color;
            }
    
        }
    
        &__stack{
            
            h4{
                color: $p-color;
                margin-bottom: 2em;
            }
            margin-top: 5em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    
            .icone-stack{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 3em;
            }
        }
    
        &__stack2{
            
            h4{
                color: $p-color;
                margin-bottom: 2em;
                text-align: center;
            }
            margin-top: 5em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    
            .icone-stack{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 3em;
                gap: 3em;
            }
        }
    }
    
  }