@import '../../styles/color.module.scss';
.jobandexperience {
    margin: 2em 0;
    padding: 4em 0;
    border: 1px solid #5c33b338;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__container {

        .competence {
            display: flex;
            margin-bottom: 2em;
            gap: 7em;
            .tag {
                h2,
                h4 {
                    color: $p-color;
                }
                width: 220px;
                padding: 2em 0;
                border: 1px solid $second-color;
                border-radius: 16px;
                text-align: center;
                &:nth-child(2) {
                    background-color: $background-light;
                }
            }
        }
        .exp {
            display: flex;
            justify-content: space-between;
            background-color: $background-light;
            color: $bright-p;

            padding: 1.5em 2em;
            border-radius: 16px;
            text-align: center;
        }
    }

}
@media(min-width:1281px) {

    /* CSS */

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
@media(min-width:1025px) and (max-width:1280px) {

    /* CSS */

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
@media(min-width:768px) and (max-width:1024px) {

    /* CSS */

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
@media(min-width:768px) and (max-width:1024px) and (orientation:landscape) {

    /* CSS */

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
@media(min-width:481px) and (max-width:767px) {

    /* CSS */
    .jobandexperience {
        margin: 2em 0;
        padding: 4em 0;
        border: 1px solid #5c33b338;

        display: flex;
        justify-content: center;
        align-items: center;

        &__container {

            .competence {
                display: flex;

                align-items: center;
                margin-bottom: 2em;
                gap: 3em;
                .tag {
                    h2,
                    h4 {
                        color: $p-color;
                    }
                    width: 220px;
                    padding: 2em 0;
                    border: 1px solid $second-color;
                    border-radius: 16px;
                    text-align: center;
                    &:nth-child(2) {
                        background-color: $background-light;
                    }
                }
            }
            .exp {
                display: flex;
                flex-direction: column;
                gap: 3em;
                justify-content: space-between;
                background-color: $background-light;
                color: $bright-p;

                padding: 1.5em 2em;
                border-radius: 16px;
                text-align: center;
            }
        }

    }

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
@media(min-width:320px) and (max-width:480px) {

    /* CSS */
    .jobandexperience {
        margin: 2em 0;
        padding: 4em 0;
        border: 1px solid #5c33b338;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__container {

            .competence {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 2em;
                gap: 3em;
                .tag {
                    h2,
                    h4 {
                        color: $p-color;
                    }
                    width: 220px;
                    padding: 2em 0;
                    border: 1px solid $second-color;
                    border-radius: 16px;
                    text-align: center;
                    &:nth-child(2) {
                        background-color: $background-light;
                    }
                }
            }
            .exp {
                display: flex;
                flex-direction: column;
                gap: 3em;
                justify-content: space-between;
                background-color: $background-light;
                color: $bright-p;

                padding: 1.5em 2em;
                border-radius: 16px;
                text-align: center;
            }
        }

    }

}
