@import '../../styles/color.module.scss';
.journey {
    width: 80%;
    margin: 10em auto;
    &__title {
        text-align: center;
        h1 {
            font-size: 3.5em;
            color: $p-color;
        }
    }

    &__exp {
        margin-top: 6em;
        display: flex;
        justify-content: center;
        .pro {
            width: 100%;
            padding: 0 8em;

            &__title {
                margin-bottom: 3em;

                text-align: center;
                h2,
                p {
                    color: $p-color;

                }
                p {
                    margin-top: 0.5em;
                    opacity: 0.5;
                }
            }
        }

        .school {
            width: 100%;
            padding: 0 8em;

            &__title {
                margin-bottom: 3em;
                text-align: center;
                h2,
                p {
                    color: $p-color;

                }
                p {
                    margin-top: 0.5em;
                    opacity: 0.5;
                }
            }
           
        }
        .school__desc{
            &::-webkit-scrollbar{
                width: 5px !important;
                height: 5px !important;
                  
                
              
              }
              
              &::-webkit-scrollbar-thumb {
                background-color: darkgrey !important;
                outline: 1px solid slategrey !important;
              } 
        }
        .pro__desc {
            margin: 0 auto;
            &::-webkit-scrollbar{
                width: 5px !important;
                height: 5px !important;
                  
                
              
              }
              
              &::-webkit-scrollbar-thumb {
                background-color: darkgrey !important;
                outline: 1px solid slategrey !important;
              }
            .card-exp {
                padding: 1.5em;
                background-color: $background-light;
                border-radius: 16px;
                h3,
                p {
                    color: $p-color;
                }

                p {
                    margin-top: 0.5em;
                    opacity: 0.5;
                }

                &__details {
                    margin-top: 1em;
                    color: $bright-p;
                    display: flex;
                    justify-content: space-between;
                }
            }

        }

    }
}
@media (min-width:1281px) and (max-width : 1650px) {

    /* CSS */
    .journey {
        width: 90%;

        &__exp {

            .pro {
                width: 100%;
                padding: 0 4em;

            }

            .school {
                width: 100%;
                padding: 0 4em;

            }

        }
    }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
@media(min-width:1025px) and (max-width:1280px) {

    /* CSS */
    .journey {
        width: 90%;

        &__exp {

            .pro {
                width: 100%;
                padding: 0 2em;

            }

            .school {
                width: 100%;
                padding: 0 2em;

            }

        }
    }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
@media(min-width:768px) and (max-width:1024px) {

    /* CSS */
    .journey {
        width: 95%;

        &__exp {

            .pro {
                width: 100%;
                padding: 0 2em;

            }

            .school {
                width: 100%;
                padding: 0 2em;

            }

        }
    }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
@media(min-width:768px) and (max-width:1024px) and (orientation:landscape) {

    /* CSS */
    .journey {
        width: 95%;

        &__exp {

            .pro {
                width: 100%;
                padding: 0 2em;

            }

            .school {
                width: 100%;
                padding: 0 2em;

            }

        }
    }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
@media(min-width:481px) and (max-width:767px) {

    /* CSS */
    .journey {
        width: 100%;

        &__exp {
            flex-direction: column;
            .pro {
                width: 100%;
                padding: 0 3em;

            }

            .school {
                width: 100%;
                padding: 0 3em;

            }

        }
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
@media(min-width:320px) and (max-width:480px) {

    /* CSS */
    .journey {
        margin: 3em auto;
        width: auto;
        padding: 0 1em;
        &__title {
            text-align: center;
            margin-bottom: 5em !important;
            h1 {
                font-size: 2.5em;
                color: $p-color;
            }
        }

        &__exp {
            margin-top: 3em;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 3em;

            .pro {
                padding: 0;
                width: auto;
          
                &__title {
                    margin-bottom: 1em;

                    text-align: left;
                    h2,
                    p {
                        color: $p-color;

                    }
                    p {
                        margin-top: 0.5em;
                        opacity: 0.5;
                    }
                }

                &__desc {

                    width: auto;
                    overflow-x: scroll;
                    .inner-desk {
                        width: fit-content;
                        display: flex;
                        gap: 3em;
                    }
                    .card-exp {
                        padding: 1.5em;
                        width: 350px;
                        background-color: $background-light;
                        border-radius: 16px;
                        h3,
                        p {
                            color: $p-color;
                        }

                        p {
                            margin-top: 0.5em;
                            opacity: 0.5;
                        }

                        &__details {
                            margin-top: 1em;
                            color: $bright-p;
                            display: flex;
                            justify-content: space-between;
                        }
                    }

                }
            }

            .school {
                padding: 0;
                width: auto;
             
                &__title {
                    margin-bottom: 1em;
                    text-align: left;
                    h2,
                    p {
                        color: $p-color;

                    }
                    p {
                        margin-top: 0.5em;
                        opacity: 0.5;
                    }
                }

                &__desc {
                    width: auto;
                    overflow-x: scroll;
                    .inner-school {
                        width: fit-content;
                        display: flex;
                        gap: 3em;
                    }
                }

            }

        }
    }

}
